body {
    font-family: Avenir LT Std, sans-serif;
    font-size: 16px;
  }

h1 {
    color: #822135;
    font-family: "Avenir LT Std 95 Black";
    font-size: 16px; 
}

p {
    font-family: "Avenir LT Std";
    font-size: 16px; 
}
  